/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .nav_menu_top_wrapper ul .logo{      
		display: none;
	}
	.logo_tablet{
		display: block;
	}

	.nav_menu_top_wrapper ul li{
		width:33.33333%;
		display: flex;
		justify-content: space-around;	
	}
	.width_gallery{
		height: 9em;
    }
    .agency, .principles{
        width: 100%;
    }
    .our_gallery{
        width: 50%;
	}
	.testimonial{
		margin-left: -0.5em;
	}
	.left_tours{
		width: 100%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .nav_menu_top_wrapper ul .logo{      
		display: none;
	}
	.logo_tablet{
		display: block;
	}

	.nav_menu_top_wrapper ul li{
		width:33.33333%;
		display: flex;
		justify-content: space-around;
	}
	.width_gallery{
		height: 9em;
    }
    
    .agency, .principles{
        width: 100%;
    }
    .our_gallery{
		width: 50%;
		width: 100%;
	}
	.testimonial{
		margin-left: -0.5em;
	}
	.left_tours{
		width: 100%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .img_article{
		width: 100%;
	}
	.left_tours, .agency, .principles{
		width: 100%;
    }
    .our_gallery{
        width: 100%;
	}
	.caption{
		margin-left: 0.01em;
	}
	.nav_menu_top_wrapper ul li{
		width:33.33333%;
		display: flex;
		justify-content: space-around;
	}
	.text-center{
		text-align: center;
		font-size: 10px;
	}
	.nav_menu_top_wrapper ul a{
		font-size: 15px;
	}
	.size_text{
		font-size: 22px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.text-center{
		text-align: center;
		font-size: 10px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}